.form-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.button_container{
    margin: 0.6rem;
 margin-left: 67vw;

}

.endicon{
    font-size: 0.6rem;
}

.sendbtn{
    font-size: 0.6rem;
}
